/* Start Font */
@import url('https://fonts.googleapis.com/css?family=Bree+Serif&display=swap');
/*End Font */

/* Start Body */
body {
    color: #05032b;
    font-family: 'Bree Serif', serif;
    Font-size: 15px;
    line-height: 1.5em;
    margin: 0;
    padding: 0;
}
/* End Body */

/* Start Debug */
.bg-birudongker {
    background-color:  rgb(9, 66, 141);
}
.bg-merahpastel {
    background-color: rgb(253, 206, 214)
}
.bg-birupastel {
    background-color: rgb(213, 230, 253);
}
/* End Debug */

/* Star Container */
.container {
    margin: 10px auto;
    overflow: auto;
    width: 95%;
}
/* End Container */

/* Start Logo */
.Logo {
    text-align: center;
}
/* End Logo */

/* Start Anchor / Hyperlink */
a:link,
a:visited {
    color: rgb(68, 135, 218);
    text-decoration: none;
}
a:hover,
a:active {
    color: rgb(250, 142, 42);
    text-decoration: underline;
}
/* End Anchor / Hyperlink */

/* Start Menu Primer */
.menu-primer ul {
    background-color: rgb(235, 114, 1);
    border-radius: 3px;
    box-shadow: 
        0 3px 5px -1px  rgb(27, 87, 167),
        0 6px 10px 0 rgb(54, 116, 196),
        0 1px 18px 0 rgb(89, 138, 202);
}

.menu-primer li {
    border-right: 1px solid rgb(214, 214, 214);
    display: inline-block;
    margin: 0 -4px;
    font-weight: bold;
}

.menu-primer a {
    color: white;
    font-size: 16px;
    display: inline-block;
    letter-spacing: 1px;
    padding: 10px 30px;
}

.menu-primer a:hover {
    background-color: whitesmoke;
    color: rgb(245, 125, 12);
    text-decoration: none;
}

.menu-primer .active {
    background-color: #ffffff;
    color: rgb(245, 125, 12);
    text-decoration: none;
}
/* End Menu Primer */

/* Start Heading */
h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    letter-spacing: 1px;
}
h1 {
    font-size: 32px;
}
h2 {
    font-size: 24px;
}
h3 {
    font-size: 18px;
}
h4 {
    font-size: 16px;
}
h5 {
    font-size: 14px;
}
h6 {
    font-size: 12px;
}
/* End Heading */

/* Start Jumbotron */
.jumbotron {
    background-color: rgb(253, 239, 219);
    border: 1px solid rgb(253, 239, 219);
    border-radius: 4px;
    padding: 15px 0;
}

.jumbotron-h1 {
    background-image: url("images/bg-header1.jpg");
    border: 1px solid rgb(253, 239, 219);
    border-radius: 4px;
    padding: 20px 0;
    color: whitesmoke;
    text-align: center;
}

.jumbotron h1 {
    font-size: 32px;
    padding: 0 20px;
}
.jumbotron h3 {
    font-size: 20px;
    padding: 0 20px;
}
/* End Jumbotron */

/* Start Main */
.main-home-one {
    float: left;
    width: 49.5%;
}

.main-home-two {
    float: right;
    width: 49.5%;
}

.main-home-one .box-isi,
.main-home-two .box-isi {
    height: 140px;
}
/* End Main */

/* Start Box */
.box-heading {
    background-color:  rgba(235, 240, 255, 0.932);
    border: 1px solid  rgba(228, 232, 247, 0.932);
    border-radius: 3px 3px 0 0;
    margin: 0;
    padding: 10px 20px;
    text-transform: none;
}

.box-heading1 h3 {
    background-color:  rgba(75, 137, 224, 0.932);
    border: 1px solid  rgb(141, 182, 240);
    border-radius: 3px 3px 0 0;
    margin: 0;
    padding: 10px 20px;
    text-transform: uppercase;
    font-weight: bold;
}

.box-heading2 h3 {
    font-size: 16px;
    background-color:  rgb(245, 125, 12);
    border: 1px solid  rgb(240, 179, 123);
    border-radius: 3px 3px 0 0;
    margin: 0;
    padding: 10px 20px;  
    text-transform: uppercase;
}

.box-heading1 h2 {
    background-color:   rgba(24, 90, 182, 0.781);
    border: 1px solid rgb(141, 182, 240);
    color: #ffffff;
    border-top: 0;
    margin: 0;
    padding: 10px 20px;
    font-size: 16px;
    text-transform: uppercase;
}

.box-heading h3 {
    font-size: 16px;
    margin: 0;
}

.box-heading h4 {
    font-size: 14px;
    margin: 0;
}

.box-isi {
    background-color: rgb(213, 230, 253);
    border: 1px solid  rgb(183, 208, 243);
    border-top: 0;
    margin: 0;
    padding: 10px 20px;
    height: auto;
    text-align: justify
}
.box-isi1 {
    background-color: rgb(213, 230, 253);
    border: 1px solid  rgb(183, 208, 243);
    border-top: 0;
    margin: 0;
    padding: 10px 20px;
    height: 250px;
    text-align: justify;
}

.box-isi2 {
    background-color: rgb(213, 230, 253);
    border: 1px solid  rgb(183, 208, 243);
    border-top: 0;
    margin: 0;
    padding: 10px 20px;
    height: 120px;
    text-align: justify;
}

.box-isi3 {
    background-color: rgb(250, 220, 212);
    border: 1px solid  rgb(238, 196, 177);
    border-top: 0;
    margin: 0;
    padding: 10px 20px;
    height: auto;
    font-size: 13px;
    text-align: justify
}

/* End Box */

/* Start Grid */
.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 25px;
    padding: 20px;
}

.grid-container1 {
    background-color: whitesmoke;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
    padding: 10px;
}

.grid-item {
    border: 1px solid rgb(29, 154, 238) ;
    padding: 10px;
    font-size: 14;
    text-align: center;
}

.grid-item1 {
    border: 1px solid rgba(41, 40, 40, 0.473) ;
    padding: 10px;
    font-size: 14;
    text-align: center;
    font-weight: bold;
}

/* End Grid */

/* Start Komentar */
.komentar {
    border-left: 2px solid rgba(245, 181, 143, 0.945);
    padding-left: 15px;
}
/* End Komentar */

/* Start Menu Sekunder */
.menu-sekunder {
    background-image: url("images/bg-footer.jpg");
    border-bottom: 1px solid rgba(148, 92, 76, 0.705);
    border-top: 1px solid  rgba(165, 71, 42, 0.815);
    overflow: auto;
    padding: 10px 20px;
    color: white;
}

.menu-sekunder h4{
    font-size: 14px;
    margin: 0 auto;
    text-transform: none;
}

.menu-sekunder ul {
    padding: 0;
}

.menu-sekunder li {
    list-style: disc;
}

.menu-sekunder li a,
.menu-sekunder p {
    font-size: 13px;
}

.menu-sekunder1,
.menu-sekunder2,
.menu-sekunder3 {
    float: left;
}

.menu-sekunder1 {
    width: 40%;
}
.menu-sekunder2,
.menu-sekunder3 {
    width: 30%;
}

.menu-sekunder li img {
    vertical-align: middle;
}
/* End Menu Sekunder */

/* Start Copyright */
.copyright p {
    font-size: 14px;
    text-align: center;
}
/* End Copyright */
